<% if(locals.user && comment.user.id == locals.user.id){ %>
    <a href="/comments/destroy/<%= comment.id %>">X</a>
<% } %>
<p>
    <%= comment.content %><br>
    <% if(comment.user.avatar){ %>
        <img src="<%= comment.user.avatar %>" width="30px" style="border-radius: 50%;">
    <% } %>
    <small><%= comment.user.name %></small>
</p>