<h1>
    Codeial / <%= title %>
</h1>
<% if(locals.user) {%>
<section id="feed-posts">
    <h4>Posts</h4>
    <form action="" id="new-post-form" method="POST">
        <textarea name="content" cols="40" rows="5"></textarea>
        <input type="submit" value="Post">
    </form>
</section>
<% } %>