<h1>
    Codeial / <%= title %>
</h1>
<% if(locals.user) {%>
<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/posts/create-Post" id="new-post-form" method="POST">
        <textarea name="content" cols="40" rows="5"></textarea>
        <input type="submit" value="Post">
    </form>
</section>
<% } %>
<section>
    <div id="post-list-container">
        <ul>
            <% for(post of allposts){ %>    
                <%- include('_post') -%>
            <% } %>
        </ul>
    </div>
</section>
<br><br>
<% if(locals.user){ %>
    <section>
        <% for(user of allusers){ %>
            <a href="/users/profile/<%= user.id %>"><%= user.name %></a><br>
        <% } %>
    </section>
<% } %>
<br><br>