.c-container{

    display: flex;


}

.c-user-detail{

    margin-left: 10px;

    border: 2px solid black;

    width: 90%;

    min-height: 60px;
    background-color:lightsteelblue;

    border-radius: 10px;

    
}